div.col-md-4.reduced-padding {
    padding-left: 7px;
    padding-right: 7px;
}

.deck-builder-container {
}

.deck-builder-top {
	position: fixed;
	padding-top: 10px;
	left: 0;
	top: 0;
	background-color: white;
	z-index: 1;
	border-bottom: 1px solid;
}

.deck-builder-body {
	margin-top: 320px;
	width: 70%;
}

.deck-builder-right {
	position: fixed;
	right: 0;
	top: 320px;
	width: 30%;
	overflow: scroll;
	height: calc(100vh-320px);
}

.clickable {
    cursor: pointer;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-rogue {
	color: #FFF68F;
}

.text-shaman {
	color: #1D41B7;
}

.text-paladin {
	color: #C56395;
}

.text-warlock {
	color: #9B00FF;
}

.text-warrior {
	color: #B71D41;
}

.text-mage {
	color: #00FFFF;
}

.text-hunter {
	color: #193713;
}