div.col-md-4.reduced-padding {
    padding-left: 7px;
    padding-right: 7px;
}

html, body {
    height: 100%;
    overflow: hidden
}

.scrollable-body {
    max-height: 500px;
    overflow-y: auto;
}

.clickable {
    cursor: pointer;
}

.text-rogue {
	color: #FFF68F;
}

.text-shaman {
	color: #1D41B7;
}

.text-paladin {
	color: #C56395;
}

.text-warlock {
	color: #9B00FF;
}

.text-warrior {
	color: #B71D41;
}

.text-mage {
	color: #00FFFF;
}

.text-hunter {
	color: #193713;
}